body {
    font-family: Arial, sans-serif;
}

.titulo {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.conteudo {
    background-color: #eee;
    padding: 20px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
}
